<div class="fa-pattern" aria-hidden="true"><%
  var icons = ["fa-futbol","fa-trophy","fa-medal","fa-crown","fa-star","fa-award","fa-ranking-star","fa-bullseye","fa-fire","fa-flag-checkered","fa-stopwatch","fa-shirt","fa-shield-halved","fa-people-group","fa-futbol","fa-trophy"];
  for (var i = 0; i < 420; i++) { %><i class="fa-solid <%= icons[i % icons.length] %>"></i><% }
%></div>
