<div class="podium-pattern" aria-hidden="true"><%
  var pIcons = ["fa-trophy","fa-medal","fa-award","fa-crown","fa-star","fa-ranking-star","fa-futbol","fa-stopwatch"];
  for (var i = 0; i < 140; i++) { %><i class="fa-solid <%= pIcons[i % pIcons.length] %>"></i><% }
%></div>
